<div class="container">
  <img class="simg2" src="\assets\img\simg2.png" alt="img">
  <div class="inner-container">
    <img class="simg" src="\assets\img\simg.png" alt="img">
    <h1 class="heading">Welcome</h1>
    <p class="paragraph">Log in to your account to continue</p>


    <div class="container2">
      
      <input class="inputfield1" type="text" placeholder="awesome@user.com" name="uname" required>

      
      <input class="inputfield2" type="password" placeholder="* * * * * * * * * *" name="psw" required>
        
      <button class="btn" type="submit">Log In</button>

    </div>

    <p class="paragraph2">Don't have an account?Signup!</p>
  <img class="google" src="\assets\img\google.png" alt="google">

  </div>
</div>